

.link-header {
    background-color: crimson;
    border-radius: 10px;
    padding: 5px 20px ;
    text-decoration: none;
    color: white;
}
body {
    font-family: monospace;
}
nav{display: flex;
justify-content: space-around;
margin: 10px;
}
.link-nav{
    background: black;
    text-decoration: none ;
    color: white;
    padding: 4px 100px 4px 100px;
}

a {
    text-decoration: none;
    color:black;
}
.tacooo{
    width: 780px;
    text-align: center;
    
}
.tacooo img{
    margin-top: 50px;
}


.tacooo a:hover{
    font-size: 30px;
    border: 3px dashed goldenrod;
    transition: 3s linear;
}